.movie {
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
  position: relative;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__poster {
    border-radius: 12px;
    height: 250px;
    object-fit: cover;
    background-repeat: no-repeat;
  }

  &__data {
    margin-left: 20px;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__overview {
    font-size: 14px;
  }

  &__backdrop {
    width: 100%;
    height: 100%;
    filter: blur(10px);
    position: absolute;
  }
}

.backdrop {
  z-index: inherit;
  position: relative;
  height: 50vh;
  background-size: cover;
  background-position: bottom;
  object-fit: cover;
  background-position: top;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}