@import url('../components/Card/styles.scss');
@import url('../pages/Home/index.scss');
@import url('../pages/MovieDetail/index.scss');
@import url('../pages/Home/components/CarouselCard/index.scss');
@import url('../index.scss');




