.card {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (max-width: 666px) {
    margin: 20px 0;
  }

  &--width {
    width: 250px !important;
  }

  &__container {
    display: flex;
  }

  &__body {
    width: 100%;
    display: flex;
    position: relative;
  }

  &__image {
    border-radius: 6px;
    width: 120px;
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  &__title {
    text-decoration: none;
    width: 300px;
    margin-top: 15px;
    margin-bottom: 50px;
    text-align: center;
    color: white;

    @media screen and (max-width: 600px) {
      & {
        display: none;
      }
    }
  }
}